.title {
    font-family: Trattatello, fantasy;
    text-decoration: none;
}

.title-main {
  font-family: Trattatello, fantasy;
  text-decoration: none;
  font-size: 300%;
}


.title-container {
    margin: 2rem auto;
    width: 60%;
    text-align: center;
    padding: 5rem 3rem;

    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 15px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 2000px;

  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
  }
  
  .block {
    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 15px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
    background-color: #666;
  }
  
  .block--img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transform: rotateX(0deg);
    transform-origin: top center;
    transition: all 300ms ease-out;
  }
  
  .block1 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Prof._Bollini_the_Italian_magician._LCCN2014635595.jpg/640px-Prof._Bollini_the_Italian_magician._LCCN2014635595.jpg");
  }
  
  .block2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Conjurer_Bosch.jpg/640px-Conjurer_Bosch.jpg");
  }
  
  .block3 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/David_Copperfield_Magician_Television_Special_1977.JPG/640px-David_Copperfield_Magician_Television_Special_1977.JPG");
  }

  .block4 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Howard_Thurston_performing_a_levitation_illusion.jpg/640px-Howard_Thurston_performing_a_levitation_illusion.jpg")}
  
  .block5 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Jan_madd.jpg/640px-Jan_madd.jpg");
  }
  .block--text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #111;
    color: antiquewhite;
    transform: rotateX(120deg);
    transform-origin: bottom center;
    transition: all 300ms ease-in;
  }
  
  .block:hover .block--text {
    transform: rotateX(0deg);
  }
  
  .block:hover .block--img {
    transform: rotateX(-120deg);
  }
  
  .text--head {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #fdca40;
  }
  
  .text--quote {
    padding: 20px 10px 0px;
    font-size: 18px;
  }
  
  .text--person {
    position: relative;
    bottom: -40px;
    text-align: end;
    font-weight: 600;
    color: #fdca40;
  }
  